h1 {
	text-align: center;
}

#status {
	text-align: center;
}

#grid {

	margin: auto;
	padding: 1em;

	max-width: calc( 100vh - 10em );
	display: flex;
	flex-wrap: wrap;
}

.square {
	box-sizing: border-box;
	position: relative;
	width: 33%;
}

.mark {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	font-size: 2.5rem;
	font-family: Arial;
}

.mark.X {
	color: green;
}
.mark.O {
	color: blue;
}